*{
    margin: 0;
    padding: 0;
}

.nav{
    background:rgb(195, 139, 139);
    text-decoration: none;
    text-align: center;
     padding:10px;
    display:flex;
    justify-content: center;
    
}
/* Add this CSS to your style.css or within a <style> tag in your HTML */
.nav a{
 /* Adjust the value as needed */
     margin-right: 25px;
     margin-left: 40px;
    align-items: center;
    display:flex-start;
    text-align: center;
    
}
.home{
    background:teal ;
    height:800px;
    
}

.nav a:hover{
    text-decoration: underline;
    color: white;
    font-size: 17px;
}

#tagline{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: blanchedalmond;
    text-align: center;
}
