*{
    margin: 0;
    padding: 0;
}

.nav{
    background:rgb(195, 139, 139);
    text-decoration: none;
    text-align: center;
  padding:10px;
    display:flex;
    
}
/* Add this CSS to your style.css or within a <style> tag in your HTML */
.nav a{
    margin-right: 20px; /* Adjust the value as needed */
    justify-content: center;
    align-items: center;
    display:flex-end;
    text-align: center;
}
.home{
    background:teal ;
    height:800px;
    
}

